/pdfbox_1.8.4_qz/build/
/pdfbox_1.8.4_qz/dist/
/pdfbox_1.8.4_qz/nbproject/private/
/jssc_2.6.0_qz/build/
/jssc_2.6.0_qz/dist/
/qz-print/nbproject/
/jssc_2.6.0_qz/nbproject/private/private.properties
/jssc_2.6.0_qz/nbproject/project.properties
/pdfbox_1.8.4_qz/nbproject/project.properties
/qz-print/nbproject/private/private.properties
/qz-print/nbproject/project.properties