* {
	font-family: Verdana,Arial,sans-serif;
	font-size: 8pt;
}

div#container {
	width: 95%;
	padding: 30px;
}

div#header {
	width: 100%;
	display: inline-block;
	/*border: solid red;*/
}


div#logo {
	position: relative;
	top: 10px;
	float: left;
    display: inline-block;
}

/* Progress Bar */
div#progressbar {
	/*border: solid blue;*/
	margin-top: 16px; 
	margin-left: 8px; 
	float: left;
	width: 100px;
	height: 20px;
}
div.ui-progressbar {
	position: relative;
}
div.progress-label {
	position: absolute;
	/*left: 30%;*/
	top: 3px;
	text-shadow: 1px 1px 0px #FFF;
	text-align: center;
	height: 100%;
	width: 100%;
	font-size: 10px;
}

/* Printers Div */
div#printers {
	margin-top: 3px;
	margin-left: 8px; 
	float: left;
	display: inline-block;
	/*border: solid;*/
}

body {
	/* font-family: Helvetica, sans-serif; */
	/* font-size: 15px; */
}

table#queue_data {
	width: 100%;
	text-align: center;
	border-spacing: 0;
}

/*table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000;
}

th {
	text-align: left;
	border: 1px solid #000;
	padding: 5px;
}
td {
	border: 1px solid #000;
	vertical-align: top;
	padding: 15px;
}*/

applet {
	position: absolute;
	bottom: 0;
	right: 0;
}

a.button {
	display: inline-block;
	padding: 5px;
	border: 1px solid #666;
	text-decoration: none;
	margin-bottom: 10px;
	/*font-size: 0.8em;*/
}

/*#applet {
	background-color: #CCC;
	padding: 15px;
}*/

div#queue {
	padding: 15px;
}